header.main-header{
    width: 100%;
    display: flex;
    padding: 10px 25px;
    box-shadow: 1px 5px 15px #8181811f;
    background-color: black;


}

ul.navbar{
    list-style: none;
    display: flex;
    
}

li{
    margin-right: 15px;
    background-color: gold;
}

.contained{
    background-color: gold;
}